<table class="table table-hover">
    <tr>
        <td style="width:20%">
            <img src="{{camera.imgurl}}">
        </td>

        <td>
        <h4>Model: {{ camera.model }}</h4>
        <br/>
        <b>Brand:</b>{{ camera.brand }}</br>
        <b>Score:  </b>{{ camera.total_score }}</br>
        <b>Price:</b>{{ camera.price }}
        </td>
    </tr>
</table>
