<table class="table table-hover">
    <tr>
        <td>
            <img src="{{news.imgurl}}">
        </td>
        <td>
        <h4>{{ news.title }}</h4>
        <br/>
        {{ news.content }}
        </td>
    </tr>
</table>
